@import "../sass/utilities/initial-variables";
@import "../sass/utilities/functions";


$blue: #72d0eb;
$pink: #ffb3b3;
$pink-invert: #fff;
$family-serif: "Merriweather", "Georgia", serif;

$primary: $pink;
$primary-invert: $pink-invert;
$danger: $orange;
$family-primary: $family-serif;

$normblue: #0077b5;
$normblue-invert: findColorInvert($normblue);
$lightblue: #55acee;
$lightblue-invert: findColorInvert($lightblue);
$normgrey: #333;
$normgrey-invert: findColorInvert($normgrey);

@import "../sass/utilities/derived-variables.sass";
$addColors: (
  "normblue":($normblue, $normblue-invert),
  "lightblue": ($lightblue, $lightblue-invert),
  "normgrey": ($normgrey, $normgrey-invert)
);
$colors: map-merge($colors, $addColors);

@import "../bulma";